# Ignore environment files
.env

# Ignore node modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore build directories
dist/
build/

# Ignore OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignore IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln